@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

$primary-maroon: #831843;
$secondary-maroon: #9d174d;
$third-maroon: #ff69b4;
$primary-white: #e0c5cf;
$primary-grey: #c5c5c5;
$primary-font: 'Chivo Mono', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: $primary-font;
  margin: auto 10%;
  color: $primary-white;
}

.header {
  margin: 4rem;
}

.main {
  display: flex;
  justify-content: space-around;
}

.main__header-container {
  display: flex;
  align-items: center;
}

.main__button {
  width: 50%;
  padding: 0.5rem;
}

.main__h {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

button {
  background-color: $third-maroon;
  color: $primary-white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-family: $primary-font;
}

input {
  background-color: $primary-white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-family: $primary-font;
  padding: 0.5rem;
}

button:hover {
  background-color: $secondary-maroon;
  cursor: pointer;
}

.ul li:nth-child(odd) {
  background-color: $secondary-maroon;
}

li {
  padding: 1rem;
}

.ul {
  list-style: none;
  background-color: $primary-maroon;
  height: 50vh;
  overflow-y: scroll;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__element {
  margin-bottom: 3rem;
}

.form__button {
  width: 50%;
  padding: 0.5rem;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .main__section-1 {
    order: 1;
  }

  .ul {
    height: 30vh;
  }
}
